<app-navabr></app-navabr>

<div class="container">
    <div class="text-center mb-2">
        <h3>Merchant List</h3>
    </div>
    <div class="row">
        <div class="col-md-3" *ngFor="let item of list">
            <div class="card" style="text-align:center;margin-bottom:2%;margin-top:2%;" (click)="viewCustomer(item.id)">
                <div>
                    <img src="../../assets/smuser.png" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{item.emailId}}</h4>
                </div>
                <div class="card-footer">
                    <div class="pull-right" style="margin-top:-2%">
                        <button class="btn btn-light btn-sm" [routerLink]="['/adddeal']">
                            <i class="fa fa-plus" aria-hidden="true">&nbsp;Add Deals</i>
                        </button>
                    </div>
                    <div style="text-align:left;color:green">
                        <i class="fa fa-check" aria-hidden="true">Verified</i>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>