<nav class="navbar navbar-expand-lg navbar-light bg-danger">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <div class="dropdown">
          <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Deals
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" [routerLink]="['/adddeal']">Add Deal</a>
            <a class="dropdown-item" [routerLink]="['/addMerchant']">View Deal</a>
            <a class="dropdown-item" [routerLink]="['/addMerchant']">Edit Deal</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Merchant 
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" [routerLink]="['/addmerchant']">Add Merchant</a>
            <a class="dropdown-item" [routerLink]="['/viewmerchant']">View Merchant</a>
            <a class="dropdown-item" [routerLink]="['/editmerchant']">Edit Merchant</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Customer
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" [routerLink]="['/addcustomer']">Add Customer</a>
            <a class="dropdown-item" [routerLink]="['/viewcustomer']">View Customer</a>
            <a class="dropdown-item" [routerLink]="['/editcustomer']">Edit Customer</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
