<app-navabr></app-navabr>

<div class="container">
  <div class="text-center mb-2">
    <h3>View Deals</h3>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <img src="../../assets/online1.jpg" alt="" class="card-img-top">
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-md-6 text-left">
              <s style="color:red">15000/-</s>
            </div>
            <div class="col-md-6 text-right">
              <b>2000/-</b>
            </div>
          </div>
        </div>
        <div class="text-muted text-center">Modi Plaza</div>
      </div>
    </div>
  </div>
</div>