<app-navabr></app-navabr>

<div class="container mt-2">
  <div class="card crd ">
    <form [formGroup]="userRegisterFrm" (ngSubmit)="submitUser()" novalidate>

      <div class="col-md-12 row">
        <div class="col-md-4">
          <div class="form-group">
          <div class="card hq">
            <img [src]="ImgUrl" class="profile-pic" alt="No Preview...">
            <div class="profile-pic">
              <span class="fa fa-camera"></span>
              <span id="get_file" (click)="choosePhoto()">Change Image</span>
              <span>
                <input type="file" id="my_file" (change)="readUrl($event)" accept="image/x-png,image/gif,image/jpeg" formControlName="image">
              </span>
            </div>
          </div>
        </div>
          <div class="card crd-text">
            <h3>
              <b>Omkar Jadhav</b>
            </h3>
          </div>
          <input type="button" class="btn btn-danger btn-sm mt-3" value="Upload" (click)="upload()">
        </div>
        <div class="col-md-8">
          <h1 style="text-align:center">Merchant Registration</h1>
          <br>
          <div class="cad-body crd-bdy">

            <div class="form-group row">
              <div class="col-sm-10">
                <label>Email Id</label>
                <input type="text" class="form-control" formControlName="emailId">
                <span class="text-muted" *ngIf="!userRegisterFrm.controls.emailId.valid">Enter Valid Email...</span>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-10">
                <label>Password</label>
                <input type="text" class="form-control" formControlName="password">
                <span class="text-muted" *ngIf="!userRegisterFrm.controls.password.valid">{{userRegisterFrm.controls.password.errors.myErr}}</span>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-10">
                <label>Confirm Password</label>
                <input type="text" class="form-control" formControlName="confPass">

              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-10">
                <label>Mobile Number</label>
                <input type="text" class="form-control" formControlName="mobileNo">
                <span class="text-muted" *ngIf="!userRegisterFrm.controls.mobileNo.valid">{{userRegisterFrm.controls.mobileNo.errors.myErr}}</span>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-10">
                <label>City</label>
                <input type="text" class="form-control" formControlName="location">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-10">
                <label>OTP</label>
                <input type="text" class="form-control" formControlName="otp">
              </div>
            </div>
            <div class="col-sm-10">
              <button type="submit" class="btn btn-danger">Register</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>