<app-navabr></app-navabr>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="text-align:center;margin-bottom:2%;margin-top:2%;" (click)="viewCustomer()">
                <div>
                    <img src="../../assets/smuser.png" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Firstname last</h4>
                </div>
                <div class="card-footer">
                    <div class="pull-right" style="margin-top:-2%">
                        <button class="btn btn-light btn-sm" [routerLink]="['/adddeal']" >
                            <i class="fa fa-plus" aria-hidden="true">&nbsp;Add Deals</i>
                        </button>
                    </div>
                    <div style="text-align:left;color:green">
                        <i class="fa fa-check" aria-hidden="true">Verified</i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="text-align:center;margin-bottom:2%;margin-top:2%" (click)="viewCustomer()">
                <div>
                    <img src="../../assets/smuser.png" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Firstname last</h4>
                </div>
                <div class="card-footer">
                    <div style="text-align:center;color:red">
                        <i class="fa fa-ban" aria-hidden="true">Unverified</i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="text-align:center;margin-bottom:2%;margin-top:2%" (click)="viewCustomer()">
                <div>
                    <img src="../../assets/smuser.png" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Firstname last</h4>
                </div>
                <div class="card-footer">
                    <div class="pull-right" style="margin-top:-2%">
                        <button class="btn btn-light btn-sm" [routerLink]="['/adddeal']" >
                            <i class="fa fa-plus" aria-hidden="true">&nbsp;Add Deals</i>
                        </button>
                    </div>
                    <div style="text-align:left;color:green">
                        <i class="fa fa-check" aria-hidden="true">Verified</i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="text-align:center;margin-bottom:2%;margin-top:2%" (click)="viewCustomer()">
                <div>
                    <img src="../../assets/smuser.png" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Firstname last</h4>
                </div>
                <div class="card-footer">
                    <div class="pull-right" style="margin-top:-2%">
                        <button class="btn btn-light btn-sm" [routerLink]="['/adddeal']" >
                            <i class="fa fa-plus" aria-hidden="true">&nbsp;Add Deals</i>
                        </button>
                    </div>
                    <div style="text-align:left;color:green">
                        <i class="fa fa-check" aria-hidden="true">Verified</i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="text-align:center;margin-bottom:2%;margin-top:2%" (click)="viewCustomer()">
                <div>
                    <img src="../../assets/smuser.png" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Firstname last</h4>
                </div>
                <div class="card-footer">
                    <div class="pull-right" style="margin-top:-2%">
                        <button class="btn btn-light btn-sm" [routerLink]="['/adddeal']" >
                            <i class="fa fa-plus" aria-hidden="true">&nbsp;Add Deals</i>
                        </button>
                    </div>
                    <div style="text-align:left;color:green">
                        <i class="fa fa-check" aria-hidden="true">Verified</i>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>